<header class="header">
  <div class="header-box">
    <div class="app-name">
      <img src="assets/img/logo.png" srcset="assets/img/logo@2x.png 2x, assets/img/logo@3x.png 3x" alt="logo">
    </div>
    <div class="user-info-box" *ngIf="isLoggedIn">
      <div class="user-info">
        <div><img src="assets/img/user-logo.svg" alt="username" class="logo-size-10-12"></div>
        <div class="padding-left-10">User login</div>
      </div>
      <a class="logout" (click)="onLogout()">
        <img src="assets/img/logoff-logo.svg" alt="logout" class="logo-size-16-12">
        <span class="padding-left-10">Log off</span>
      </a>
    </div>
  </div>
</header>
