@import url('https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css');
@import url('https://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css');
@import url('https://cdn.syncfusion.com/ej2/ej2-inputs/styles/material.css');
@import url('https://cdn.syncfusion.com/ej2/ej2-popups/styles/material.css');
@import url('https://cdn.syncfusion.com/ej2/ej2-calendars/styles/material.css');

.input-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 9px;
}

.label {
  font-family: 'Source Sans Pro';
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.22px;
  color: #525462;
}

.required {
  font-family: 'Source Sans Pro';
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.19px;
  text-align: right;
  color: #6c7283;
}

.input-container-quarter {
  width: 25%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.e-date-wrapper {
  font-family: 'Source Sans Pro';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.22px;
  padding-left: 12px;
  padding-right: 12px;
  height: 34px;
  background: transparent;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
  border-bottom: transparent !important;
  padding-right: 0;
}

.e-datepicker {
  border-radius: 3px;
  border: solid 1px #d9dbe3;
  background-color: #ffffff;
}

.e-input-group-icon.e-date-icon.e-icons {
  color: #c0c3ce;
}

.e-input-group-icon.e-date-icon.e-icons {
  height: 34px;
  width: 34px;
}

.error {
  font-family: 'Source Sans Pro';
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.22px;
  color: #FF0000;
}
