<div class="login-container">
  <div class="login-box">
    <font color="red">To access app login as test/test</font>
    <div class="header">{{ 'system.login' | translate }}</div>
    <div class="input-container">
      <div class="input-labels">
        <div class="label">E-mail:</div>
        <div class="required">{{ 'system.required' | translate }}</div>
      </div>
      <input
        type="text"
        placeholder="{{ 'system.email-placeholder' | translate }}"
        class="login-input"
        [(ngModel)]="username"
      >
    </div>
    <div class="input-container">
      <div class="input-labels">
        <div class="label">{{ 'system.password' | translate }}:</div>
        <div class="required">{{ 'system.required' | translate }}</div>
      </div>
      <input
        type="password"
        placeholder="{{ 'system.password-placeholder' | translate }}"
        class="login-input"
        [(ngModel)]="password"
        (keyup.enter)="onLogin()"
      >
    </div>
    <div class="controls">
      <a
        class="forgot-password"
        href="/login"
      >{{ 'system.forgot' | translate }}</a>
      <button
        class="login-button"
        (click)="onLogin()"
      >{{ 'system.login' | translate }}</button>
    </div>
  </div>
</div>
