<div class="login-container">
  <app-error-messages></app-error-messages>
  <div class="login-box">
    <div class="header">Login</div>
    <div class="input-container">
      <div class="input-labels">
        <div class="label">E-mail:</div>
        <div class="required">*required</div>
      </div>
      <input
        type="text"
        placeholder="Enter e-mail"
        class="login-input"
        [(ngModel)]="username"
      >
    </div>
    <div class="input-container">
      <div class="input-labels">
        <div class="label">Password:</div>
        <div class="required">*required</div>
      </div>
      <input
        type="password"
        placeholder="Enter password"
        class="login-input"
        [(ngModel)]="password"
        (keyup.enter)="onLogin()"
      >
    </div>
    <div class="controls">
      <a
        class="forgot-password"
        href="/login"
      >Forgot password?</a>
      <button
        class="login-button"
        (click)="onLogin()"
      >Login</button>
    </div>
  </div>
</div>
