<div class="login-container">
  <div class="login-box">
    <font
      color="red"
      align="center"
    >To access app login as test/test</font>
    <form [formGroup]="loginForm">
      <div class="header">Login</div>
      <div class="input-container">
        <div class="input-labels">
          <div class="label">E-mail:</div>
          <div class="required">*required</div>
        </div>
        <input
          type="text"
          placeholder="Enter e-mail"
          class="login-input"
          formControlName="username"
          [ngClass]="{ 'invalid': submitted && loginForm.controls.username.errors }"
        >
      </div>
      <div class="input-container">
        <div class="input-labels">
          <div class="label">Password:</div>
          <div class="required">*required</div>
        </div>
        <input
          type="password"
          placeholder="Enter password"
          class="login-input"
          formControlName="password"
          (keyup.enter)="onSubmit()"
          [ngClass]="{ 'invalid': submitted && loginForm.controls.password.errors }"
        >
      </div>
      <div class="controls">
        <a
          class="forgot-password"
          href="/login"
        >Forgot password?</a>
        <button
          class="login-button"
          (click)="onSubmit()"
        >Login</button>
      </div>
    </form>
  </div>
</div>
