<div
  class="input-container-half"
  [formGroup]="parentForm"
>
  <div class="input-labels">
    <div class="label">Authors:</div>
    <span
      *ngIf="authors.errors"
      class="error"
    >Required</span>
    <div class="required">*required</div>
  </div>
  <ng-select
    [items]="authorsToShow"
    bindLabel="value"
    bindValue="value"
    [addTag]="addCustomUser"
    [multiple]="true"
    placeholder="Add authors, start typing..."
    (change)="emitOutput()"
    formControlName="authors"
  >
  </ng-select>
</div>
