<div class="course-container" appCoursePlateBoxShadowColor [date]="courseInput.creationDate" [ngClass]="isTopRated()">
  <div class=" title-duration-date-container">
    <div class="course-name">{{ courseInput.title | uppercase }} <i class="fa fa-star" *ngIf="courseInput.topRated"></i>
    </div>
    <div class="duration-date-box">
      <div class="duration">
        <i class="fa fa-clock-o"></i><span>{{ courseInput.durationInMinutes | minutesToHoursWithMinutes }}</span>
      </div>
      <div class="date"><i class="fa fa-calendar"></i><span>{{ courseInput.creationDate | date : 'd MMM, y' }}</span>
      </div>
    </div>
  </div>
  <div class="description-edit-delete-container">
    <div class="description">{{ courseInput.description }}</div>
    <div class="edit-delete-box">
      <div class="edit">
        <button class="edit-delete-button" (click)="onEdit()"><i class="fa fa-edit"></i>Edit</button>
      </div>
      <div class="delete">
        <button class="edit-delete-button" (click)="onDelete()" (click)="openModal('delete-course-modal')"><i class=" fa
          fa-trash"></i>Delete</button>
      </div>
    </div>
  </div>
</div>
