.course-details-container {
  width: 100vw;
  min-height: calc(100vh - 3*64px);
  background-color: #f2f3f7;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.course-details-box {
  width: 57vw;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  margin-bottom: 24px;
}

.header {
  padding: 24px;
  height: 30px;
  font-family: 'Source Sans Pro';
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #2c2f3c;
}

.input-container {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.input-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 9px;
}

.label {
  font-family: 'Source Sans Pro';
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.22px;
  color: #525462;
}

.required {
  font-family: 'Source Sans Pro';
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.19px;
  text-align: right;
  color: #6c7283;
}

.input {
  height: 36px;
  border-radius: 3px;
  border: solid 1px #d9dbe3;
  background-color: #ffffff;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.22px;
  padding-left: 12px;
  padding-right: 12px;
}

.text-area {
  height: 108px;
  border-radius: 3px;
  border: solid 1px #d9dbe3;
  background-color: #ffffff;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.22px;
  padding-left: 12px;
  padding-right: 12px;
  resize: none;
}

.input-container-quarter {
  width: 25%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.input-container-half {
  width: 50%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.buttons-box {
  height: 54px;
  font-family: 'Source Sans Pro';
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 24px;
}

.decline-button {
  width: auto;
  height: 36px;
  border-radius: 3px;
  background-color: #d9dbe3;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.43;
  letter-spacing: -0.1px;
  color: #525462;
  margin-right: 18px;
  padding-left: 18px;
  padding-right: 18px;
}

.agree-button {
  width: auto;
  height: 36px;
  border-radius: 3px;
  background-color: #9bc837;
  font-family: 'Source Sans Pro';
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.43;
  letter-spacing: -0.1px;
  color: #ffffff;
  margin-right: 24px;
  padding-left: 18px;
  padding-right: 18px;
}

.error {
  font-family: 'Source Sans Pro';
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.22px;
  color: #FF0000;
}
