<div class="course-details-container">
  <div class="course-details-box">
    <div class="header">{{ header }}</div>
    <div class="input-container">
      <div class="input-labels">
        <div class="label">Title:</div>
        <div class="required">*required</div>
      </div>
      <input type="text" placeholder="Add title" class="input" [ngModel]="course?.title">
    </div>
    <div class="input-container">
      <div class="input-labels">
        <div class="label">Description:</div>
        <div class="required">*required</div>
      </div>
      <textarea type="text" placeholder="Add description" class="text-area" [ngModel]="course?.description"></textarea>
    </div>
    <app-duration [durationInMinutes]="course?.durationInMinutes"></app-duration>
    <app-date-selector [date]="course?.creationDate"></app-date-selector>
    <div class="input-container-half">
      <div class="input-labels">
        <div class="label">Authors:</div>
        <div class="required">*required</div>
      </div>
      <input type="text" placeholder="Add authors, start typing..." class="input">
    </div>
    <div class="buttons-box">
      <button class="decline-button">Cancel</button>
      <button class="agree-button">Save</button>
    </div>
  </div>
</div>
